
MonsterProject/Assets/Scenes/demoscene.unity.meta

MonsterProject/Assets/Travis Game Assets/Hit Impact Effects/Pipeline Upgrade/Hit Impact Effects FREE - URP.unitypackage.meta

MonsterProject/Assets/Scenes/demoscene.unity.meta~Stashed changes.meta

MonsterProject/Assets/Scenes/demoscene.unity.meta~Updated upstream.meta
